<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.diancan.mapper.OrderProductMapper">
  <resultMap id="BaseResultMap" type="com.demo.diancan.model.OrderProduct">
    <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="PRODUCT_ID" jdbcType="INTEGER" property="productId" />
    <result column="COUNT" jdbcType="INTEGER" property="count" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <insert id="insert" parameterType="com.demo.diancan.model.OrderProduct">
    insert into T_ORDER_PRODUCT (ORDER_ID, PRODUCT_ID, COUNT, 
      STATUS, REMARKS)
    values (#{orderId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.diancan.model.OrderProduct">
    insert into T_ORDER_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="count != null">
        COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>